  
<body class="mat-app-background">
  <mat-toolbar>
    <span>CAT VIBES TO _____</span>
  </mat-toolbar>

  <mat-card class="example-card">
    <mat-card-content>
        CAT VIBES TO 
        <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline">
            <mat-label>Outline form field</mat-label>
            <input matInput placeholder="youtube url" formControlName="url">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>

          <button mat-raised-button color="primary">VIBE!</button>
        </form>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card" *ngIf="success">
    <mat-card-content>
      <h2 class="example-h2">Result</h2>

      <section class="example-section">
        <mat-progress-bar mode='buffer' value='35' bufferValue='66'></mat-progress-bar>
      </section>
      <section>
        Download
        <mat-spinner mode="determinate" value=75></mat-spinner>
        BPM
        <mat-spinner mode="determinate" value=75></mat-spinner>
        Encoding
        <mat-spinner mode="determinate" value=75></mat-spinner>
      </section>
    </mat-card-content>
  </mat-card>

  

</body>
