.example-spacer {
    flex: 1 1 auto;
  }


.example-h2 {
margin: 10px;
}

.example-card {
    margin: 100px
}

.example-section {
display: flex;
align-content: center;
align-items: center;
height: 60px;
}

.example-margin {
margin: 10 10px;
}